<link rel='stylesheet' href='https://kuchatest.saw-leipzig.de/infosystem/reset.css'>
<link rel='stylesheet' href='/KuchaApplication.css'>
 
<div class="data-view">
	<figure style='text-align: center; margin: 0;'>
		<!--fullImageUri / imageUri-->
		<a href='%s' target='_blank'> <img src='%s' style='position: relative; width: 100%%; height: auto;'></a>
		
		<!--figure caption-->
		<figcaption style='font-family: verdana; font-size: 12px;'>%s</figcaption>
	</figure>

	<h4 class="data-display">Summary</h4>
	<table class="data-view">
		<!--inventoryNumber-->
		<tr style="border-bottom: 1px solid black">
			<td class="data-view-left"><i>Inventory No.</i></td>
			<td class="data-view-right">%s</td>
		</tr>
		<!-- cave -->
		<tr style="border-bottom: 1px solid black">
			<td class="data-view-left"><i>Located in Cave</i></td>
			<td class="data-view-right">%s</td>
		</tr>
		<tr style="border-bottom: 1px solid black">
			<td class="data-view-left"><i>Found by expedition</i></td>
			<td class="data-view-right">%s</td>
		</tr>
		<tr style="border-bottom: 1px solid black"> 
			<td class="data-view-left"><i>Vendor</i></td>
			<td class="data-view-right">%s</td>
		</tr>
		<tr style="border-bottom: 1px solid black">
			<td class="data-view-left"><i>Purchase Date</i></td>
			<td class="data-view-right">%s</td>
		</tr>
		<tr style="border-bottom: 1px solid black">
			<td class="data-view-left"><i>Current location</i></td>
			<td class="data-view-right">%s</td>
		</tr>
		<tr style="border-bottom: 1px solid black">
			<td class="data-view-left"><i>State of preservation</i></td>
			<td class="data-view-right">%s</td>
		</tr>
		<tr style="border-bottom: 1px solid black">
			<td class="data-view-left"><i>Style</i></td>
			<td class="data-view-right">%s</td>
		</tr>
		<tr style="border-bottom: 1px solid black">
			<td class="data-view-left"><i>Mode of representation</i></td>
			<td class="data-view-right">%s</td>
		</tr>
	</table>
	<figure style='text-align: center; margin: 10;'>
		<img src='%s'
			style='position: relative; width: 100%%; height: auto;'>
		<figcaption style='font-size: 14px;'>Cave sketch</figcaption>
	</figure>

	<h4 class="data-display">Indexing</h4>

	<h5 class="data-display">Iconography</h5>
	<ul class="simple-list">%s</ul>

	<h5 class="data-display">Pictorial Elements</h5>
	<ul class="simple-list">%s</ul>

	<h4 class="data-display">Description</h4>
	<p class="data-display">%s</p>

	<h4 class="data-display">General Remarks</h4>
	<p class="data-display">%s</p>

	<h4 class="data-display">Other Suggested Identifications</h4>
	<p class="data-display">%s</p>

	<h4 class="data-display">Related Bibliography</h4>
	<ol class="simple-list">%s</ol>

	 <!-- timestamp / user -->
	<p class="date">Last changes on %s by %s.</p>
</div>
